@import './normalize.css';
@import './fonts.css';
@import './popup.css';

/* -------------------------- SINGOLO. PART 1-------------------------- */ 
/* -------------------------------------------------------------------- */
/* ------------------------------ common ------------------------------ */

html {
  font-family: "Lato-Regular", "Arial", "sans-serif";

  scroll-behavior: smooth;
}

.overflow-hidden {
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1020px;
  margin: 0 auto;
  padding: 0 30px;
}

.link {
  color: inherit;

  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  margin: 0;
  padding: 0;

  border: 0;
}

.main-page {
  color: #767e9e;

  background-color: cadetblue;
}

.title {
  margin: 0;

  font-family: "Lato-Black", "Arial", "sans-serif";
  font-weight: 900;
  color: #666d89;
}

/* ------------------------------ header ------------------------------ */ 

.header {
  min-height: 95px;

  user-select: none;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-height: 95px;

  border-bottom: 6px solid #323746;

  background-color: #2d303a;

  transform: translateX(-50%);
  z-index: 10;
}

.logo {
  margin: 0;
  
  font-size: 25px;
  letter-spacing: -0.02em;
}

.logo__link {
  padding: 10px;
}

.logo,
.navigation {
  font-weight: 700;
  font-family: "Lato-Bold", "Arial", "sans-serif";
  color: #ffffff;
  
  text-transform: uppercase;
}

.logo__title_red,
.navigation__link_active {
  color: #f06c64;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding-top: 10px;

  font-size: 12px;
  letter-spacing: -0.016em;
}

.navigation__item {
  position: relative;

  margin-left: 10px;
}

.navigation__item::before {
  position: absolute;
  top: 10px;
  left: -7px;

  display: block;
  width: 2px;
  height: 2px;

  color: #323746;

  content: '·';
}

.navigation__item:first-child::before {
  display: none;
}

.navigation__link {
  display: block;
  padding: 10px;
}

.logo__link:focus,
.logo__link:hover,
.logo__link:active {
  padding: 9px;

  color: #f06c64;

  border: 1px solid #5f9ea0;
  border-radius: 5px;

  outline: none;
}

.logo__link:focus .logo__title_red,
.logo__link:hover .logo__title_red,
.logo__link:active .logo__title_red {
  color: #ffffff;
}

.navigation__link:focus,
.navigation__link:hover,
.navigation__link:active {
  background-color: #5f9ea0;
  border-radius: 5px;

  outline: none;
}

/* ------------------------------ slider ------------------------------ */ 

.slider__wrapper {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 600px;
  padding: 0;

  user-select: none;
}

.button__container {
  position: absolute;

  display: flex;
  align-items: center;
  width: 40px;
  min-height: 600px;

  z-index: 2;
}

.button__container_right {
  top: 0;
  right: 0;
}

.slider__button {
  position: relative;
  left: 30px;
  bottom: 6px;

  width: 40px;
  height: 40px;

  background-color: transparent;
  background-image: url('../assets/img/slider/slider-button.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border-radius: 50%;
}

.slider__button_next {
  left: -28px;
  bottom: 5px;

  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__button:focus,
.slider__button:hover,
.slider__button:active {
  background-color: #dedede;

  box-shadow: 1px 1px 10px 4px #dedede;
  outline: none;

  cursor: pointer;
}

.gallery {
  position: relative;

  overflow: hidden;
}

.gallery__item {
  position: absolute;
}

.gallery__item_left {
  top: 53px;
  left: 112px;
}

.gallery__item_left-phone {
  border-radius: 26px;

  z-index: 2;
}

.gallery__item_left-content {
  top: 118px;
  left: 126px;

  z-index: 3;
}

.gallery__item_right {
  top: 52px;
  left: 547px;
}

.gallery__item_right-phone {
  border-radius: 26px 26px 27px 28px;

  z-index: 2;
  transform: rotate(90deg);
}

.gallery__item_right-content {
  top: 188px;
  left: 486px;
  transform: scaleX(1.004) scaleY(1.008) translateX(-0.5px) translateY(-0.5px);
  z-index: 3;
}

.gallery__item_right-shadow {
  top: 53px;
  left: 548px;
  transform: scaleX(-1) rotate(90deg);
}

.gallery__item_slide2 {
  top: 57px;
  left: 390px;

  transform: scale(1.06);
}

.gallery__item_slide2-phone {
  border-radius: 28px 26px 26px 28px;

  z-index: 2;
}

.gallery__item_slide2-content {
  top: 112px;
  left: 397px;

  transform: scaleX(1.007) scaleY(0.999);
  z-index: 3;
}

.gallery__item_slide2-shadow {
  top: 57px;
  transform: scale(1.056);
}

.display-off {
  display: none;
}

.gallery__item_left-content,
.gallery__item_right-content,
.gallery__item_slide2-content {
  cursor: pointer;
}

.gallery__item_left-phone:focus,
.gallery__item_left-phone:hover,
.gallery__item_left-phone:active,
.gallery__item_right-phone:focus,
.gallery__item_right-phone:hover,
.gallery__item_right-phone:active,
.gallery__item_slide2-phone:focus,
.gallery__item_slide2-phone:hover,
.gallery__item_slide2-phone:active {
  outline: none;
  box-shadow: 1px 1px 10px 4px #dbc7c7;

  cursor: pointer;
}

.gallery__item_left-content:focus + .gallery__item_left-phone,
.gallery__item_left-content:hover + .gallery__item_left-phone,
.gallery__item_left-content:active + .gallery__item_left-phone,
.gallery__item_right-content:focus + .gallery__item_right-phone,
.gallery__item_right-content:hover + .gallery__item_right-phone,
.gallery__item_right-content:active + .gallery__item_right-phone,
.gallery__item_slide2-content:focus + .gallery__item_slide2-phone,
.gallery__item_slide2-content:hover + .gallery__item_slide2-phone,
.gallery__item_slide2-content:active + .gallery__item_slide2-phone {
  box-shadow: 1px 1px 10px 4px #dbc7c7;
}

.slider__item {
  position: relative;

  display: none;
  height: 594px;

  -webkit-animation: 0.4s ease-in-out;
          animation: 0.4s ease-in-out;

  border-bottom: 6px solid #ea676b;

  background-color: #f06c64;
}

.slider__item_blue {
  border-bottom: 6px solid #5d82e0;

  background-color: #648BF0;
}

.slider__active,
.slider__next {
  display: block;
}

.slider__next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

/* ------------------------------ services ------------------------------ */

.services {
  scroll-margin-top: 50px;
}

.services__wrapper {
  min-height: 500px;  
  padding-top: 60px;
  padding-left: 40px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  font-size: 30px;
  letter-spacing: -0.005em;
}

.services__description {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 43px;
  padding-right: 10px;

  font-size: 18px;
  font-weight: 300;
  font-family: "Lato-Light", "Arial", sans-serif;
  text-align: justify;
  line-height: 30px;
  color: #767e9e;
}

.three-columns-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .two-rows-layout {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.feature {
  height: 106px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 80px;

  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 1px 4px;

  overflow: hidden;
}

.feature_design {
  padding-top: 1px;
  padding-bottom: 16px;

  background-image: url('../assets/img/feature/feature-design.svg');
}

.feature_layout {
  padding-top: 1px;

  background-image: url('../assets/img/feature/feature-layout.svg');
}

.feature_ideas {
  margin-left: 2px;
  padding-top: 1px;
  padding-right: 14px;
  padding-bottom: 17px;

  background-image: url('../assets/img/feature/feature-ideas.svg');
  background-size: 59px;
  background-position: 2px 4px;
}

.feature_support {
  margin-left: 3px;
  padding-right: 14px;

  background-image: url('../assets/img/feature/feature-support.svg');
  background-size: 59px;
  background-position: 1px 3px;
}

.feature_answer {
  margin-left: 7px;
  padding-top: 1px;
  padding-right: 11px;
  padding-bottom: 17px;

  background-image: url('../assets/img/feature/feature-answer.svg');
  background-position: 0 4px;
}

.feature_star {
  margin-left: 7px;
  padding-right: 11px;

  background-image: url('../assets/img/feature/feature-star.svg');
  background-position: 0 3px;
}

.feature__title {
  padding-bottom: 9px;

  font-size: 18px;
  word-spacing: 0.01px;
}

.feature__description {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 21.56px;
  text-align: justify;
  color: #767e9e;
}

.feature__description_design,
.feature__description_layout,
.feature__description_ideas {
  padding-left: 1px;
}

/* ------------------------------ SINGOLO. PART 2 ------------------------------ */
/* ----------------------------------------------------------------------------- */
/* --------------------------------- portfolio --------------------------------- */

.portfolio {
  scroll-margin-top: 50px;
}

.portfolio__wrapper {
  min-height: 869px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  font-size: 30px;
  padding-top: 60px;
  padding-left: 10px;
}

.portfolio__description {
  margin: 0;
  padding-top: 24px;
  padding-left: 10px;

  font-size: 18px;
  font-weight: 300;
  font-family: "Lato-Light", "Arial", sans-serif;
  color: #767e9e;
}

.tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 11px;
  padding-top: 16px;
  padding-bottom: 14px;

  user-select: none;
}

.tags__item {
  margin-right: 10px;
}

.tags__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 22px;
  
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  color: #767e9e;
  letter-spacing: -0.005em;
  line-height: 18px;

  background-color: transparent;
  border: 1px solid #767e9e;
  border-radius: 5px;
}

.tags__item:first-of-type .tags__button {
  padding-right: 7px;
}

.tags__button:focus,
.tags__button:hover,
.tags__button:active {
  color: #dedede;

  background-color: #5f9ea0;
  border-color: #5f9ea0;
  outline: none;

  cursor: pointer;
}

.tags__button_active,
.tags__button_active:focus,
.tags__button_active:hover,
.tags__button_active:active
{
  color: #dedede;

  background-color: transparent;
  border: 1px solid #dedede;
}

.four-columns-three-rows-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 16px;

  max-height: 601px;
  overflow: hidden;
}

.portfolio__images {
  padding: 5px 5px 5px 10px;

  user-select: none;
}

.portfolio__image {
  width: 220px;
  height: 187px;
}

.portfolio__image:focus,
.portfolio__image:hover {
  outline: 5px solid #5f9ea0;

  cursor: pointer;
}

.portfolio__image_active,
.portfolio__image_active:focus,
.portfolio__image_active:hover {
  outline: 5px solid #F06C64;
}

.portfolio__image:nth-child(n + 13) {
  display: none;
}

/* --------------------------------- about --------------------------------- */

.about {
  scroll-margin-top: 50px;
}

.about__wrapper {
  min-height: 734px;
  padding-left: 40px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about__title {
  font-size: 30px;
  padding-top: 60px;
  letter-spacing: -0.0035em;
  color: #666d89;
}

.about__description {
  margin: 0;
  padding-top: 19px;

  font-size: 18px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 30px;
  letter-spacing: -0.0035em;
  color: #767e9e;
}

.about__sentence {
  letter-spacing: -0.0123em;
}

.about .three-columns-layout {
  padding-top: 45px;
}

.card {
  padding-right: 19px; 
}

.card__avatar {
  user-select: none;
}

.card_second {
  padding-right: 21px;
}

.card__title {
  max-width: 300px;
  padding-top: 12px;

  font-size: 18px;
  letter-spacing: -0.01em;

  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.card__description {
  margin: 0;
  padding-top: 9px;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  text-align: justify;
  line-height: 21px;
  letter-spacing: -0.005em;
  color: #767e9e;
}

.card__sentence {
  letter-spacing: 0;
}

.card_second .card__title {
  padding-left: 1px;
  letter-spacing: -0.01em;
}

.card_second .card__description {
  padding-left: 1px;
  letter-spacing: -0.0098em;
}

.card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
}

.social__item {
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 7px;
}

.social__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 32px;
  height: 32px;
  
  background-color: transparent;
  background-repeat: no-repeat;

  border: 1px solid #666d89;
  border-radius: 50%;

  user-select: none;
}

.social__link_facebook {
  background-image: url('../assets/img/about/facebook.svg');
  background-position: 11px 8px;
}

.social__link_google {
  background-image: url('../assets/img/about/google.svg');
  background-position: 7px 8px;
}

.social__link_twitter {
  background-image: url('../assets/img/about/twitter.svg');
  background-position: 8px 9px;
}

.social__link_linkedin {
  background-image: url('../assets/img/about/linkedin.svg');
  background-position: 8px 7px;
}

.card_third .social__item {
  padding-left: 0;
  padding-right: 8px;
}

.social__link:focus, 
.social__link:hover, 
.social__link:active {
  background-color: #5f9ea0af;
  outline: 0;

  cursor: pointer;
}

/* ------------------------------ SINGOLO. PART 3 ------------------------------ */
/* ----------------------------------------------------------------------------- */
/* ---------------------------------- feedback --------------------------------- */

.feedback {
  scroll-margin-top: 50px;
}

.feedback__wrapper {
  min-height: 654px;
  padding: 0 40px;

  color: #f0d8d9;

  background-color: #f06c64;

  border-bottom: 6px solid #ea676b;
}

.feedback__title {
  font-size: 30px;
  padding-top: 60px;
  letter-spacing: -0.0035em;
  color: inherit;
}

.feedback__description {
  margin-top: 19px;
  margin-left: 1px;
  margin-bottom: 44px;

  font-size: 18px;
  font-weight: 300;
  font-family: "Lato-Light", "Arial", sans-serif;
  line-height: 30px;
  text-align: justify;
}

.two-columns-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 619px;
  margin-right: 20px;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  margin-bottom: 16px;
  padding: 3px 15px;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 21.56px;
  color: #f48c8f;

  background-color: #d6564f;

  border: 0;
  border-radius: 5px;

  overflow: hidden;
}

.form__input:focus,
.form__input:hover,
.form__input:active {
  padding: 1px 13px;

  color: white;

  outline: 0;
  border: 2px solid #767e9e;
}

.form__input:focus:invalid {
  background-color: red;
}

.form__input::-webkit-input-placeholder {
  color: #f48c8f;
}

.form__input::-moz-placeholder {
  color: #f48c8f;
}

.form__input:-ms-input-placeholder {
  color: #f48c8f;
}

.form__input::-ms-input-placeholder {
  color: #f48c8f;
}

.form__input::placeholder {
  color: #f48c8f;
}

.form__input:focus::-webkit-input-placeholder,
.form__input:hover::-webkit-input-placeholder,
.form__input:active::-webkit-input-placeholder {
  color: white;
}

.form__input:focus::-moz-placeholder,
.form__input:hover::-moz-placeholder,
.form__input:active::-moz-placeholder {
  color: white;
}

.form__input:focus:-ms-input-placeholder,
.form__input:hover:-ms-input-placeholder,
.form__input:active:-ms-input-placeholder {
  color: white;
}

.form__input:focus::-ms-input-placeholder,
.form__input:hover::-ms-input-placeholder,
.form__input:active::-ms-input-placeholder {
  color: white;
}

.form__input:focus::placeholder,
.form__input:hover::placeholder,
.form__input:active::placeholder {
  color: white;
}

.form__message {
  min-height: 202px;
  padding-top: 7px;

  resize: none;
}

.form__message:focus,
.form__message:hover,
.form__message:active {
  padding-top: 5px;
}

.form__submit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  margin-bottom: 10px;
}

.form__submit:focus,
.form__submit:hover,
.form__submit:active {
  background-color: #767e9e;
  
  cursor: pointer;
}

.feedback__contacts {
  width: calc(100% - 640px);
  padding-left: 1px;
  padding-top: 1px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 900;
  font-family: "Lato-Black", "Arial", sans-serif;
  line-height: 17.86px;
  letter-spacing: -0.0035em;
  color: inherit;
}

.contacts__description {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 20px;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 22.5px;
  letter-spacing: -0.0035em;
  text-align: justify;
}

.contacts__description::first-line {
  line-height: 20px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 22px;
  letter-spacing: -0.0035em;
}

.contacts__link_location {
  padding-top: 1px;
}

.contacts__link_phone {
  line-height: 20px;
}

.contacts__link_email {
  line-height: 23px;
}

.contacts__link_phone:focus,
.contacts__link_phone:hover,
.contacts__link_phone:active,
.contacts__link_email:focus,
.contacts__link_email:hover,
.contacts__link_email:active  {
  text-decoration: underline;

  outline-color: #767e9e;
}

.contacts__icon {
  width: 23px;
  height: 17px;
  
  background-repeat: no-repeat;
}

.contacts__icon_location {
  background-image: url("../assets/img/contacts/location.svg");
  background-size: 14px 23px;
}

.contacts__icon_phone {
  background-image: url("../assets/img/contacts/phone.svg");
  background-size: 14px 14px;
  background-position: 0 3px;
}

.contacts__icon_email {
  background-image: url("../assets/img/contacts/email.svg");
  background-size: 16px 18px;
  background-position: 0 5px;
}

/* ---------------------------------- footer --------------------------------- */

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 76px;

  color: #666d89;

  background-color: #2d303a;
}

.footer__copyright {
  margin-left: 12px;
  padding-bottom: 2px;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;

  user-select: none;
}
  
.footer__social .social__item {
  margin-left: 8px;
  padding: 0;
}

.footer__social .social__link:focus, 
.footer__social .social__link:hover, 
.footer__social .social__link:active {
  background-color: #6fbdc0;
}
