@import './common/normalize.css';

@import './common/variables.scss';
@import './common/fonts.scss';
@import './common/common.scss';

@import './header/header.scss';
@import './slider/slider.scss';
@import './services/services.scss';
@import './portfolio/portfolio.scss';
@import './about/about.scss';
@import './feedback/feedback.scss';
@import './footer/footer.scss';

@import './popup/popup.scss';
