.overflow-hidden-burger {
  overflow: auto;

  @include media-tablet {
    overflow: hidden;
  }
}

.burger__button {
  position: fixed;
  top: 16px;
  left: 12px;

  display: none;
  width: 40px;
  height: 40px;

  background: url('../assets/img/burger/burger-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  z-index: 300;

  @include transition;

  @include media-tablet {
    display: block;
  }

  &:focus,
  &:hover,
  &:active {
    outline: none;

    cursor: pointer;
  }
}

.burger__layout {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  color: white;

  background-color: rgb(45, 48, 58, 0.6);

  z-index: 200;

  @include media-tablet {
    display: block;
  }
}

.burger__wrapper {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  max-width: 278px;
  height: 100vh;

  background: #2d303a;
  -webkit-box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);

  z-index: 300;

  @include media-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 25px;
    margin-left: 60px;
    margin-bottom: 21vh;
  }

  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

    height: 100%;
    max-height: 280px;
    margin: 0;
    margin-left: 50px;
    padding: 0;
  }

  .navigation__item {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;

    &::before{
      content: none;
    }
  }

  .navigation__link {
    min-width: 130px;
    padding: 10px;
  }
}

.display-flex {
  display: none;

  @include media-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    height: 100%;
  }
}

.rotate {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
