.services {
  scroll-margin-top: 70px;
}

.services__wrapper {
  min-height: 500px;
  padding-top: 60px;
  padding-left: 40px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;

  @include media-desktop {
    padding: 40px;

    border-bottom: 0;
  }

  @include media-tablet {
    padding-top: 25px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 2px;
  }
}

.services__title {
  font-size: 30px;
  letter-spacing: -0.005em;
}

.services__description {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 43px;
  padding-right: 10px;

  font-size: 18px;
  font-weight: 300;
  font-family: "Lato-Light", "Arial", sans-serif;
  text-align: justify;
  line-height: 30px;
  color: #767e9e;

  @include media-desktop {
    padding-bottom: 12px;
  }

  @include media-tablet {
    padding-bottom: 26px;

    text-align: left;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  flex: 1 0 20%;

  height: 106px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 80px;

  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 1px 4px;

  overflow: hidden;

  @include media-desktop {
    flex: 1 0 25%;
    margin: 2.6vw;
    padding-right: 13px;
    padding-bottom: 0;
  }

  @include media-tablet {
    flex: 1 0 40%;

    margin: 0;
    margin-bottom: 13px;
  }
}

.feature__item:nth-child(odd) {
  @include media-desktop {
    margin-left: 0;
  }
}

.feature_design {
  background-image: url('../assets/img/feature/feature-design.svg');
}

.feature_layout {
  background-image: url('../assets/img/feature/feature-layout.svg');
}

.feature_ideas {
  background-image: url('../assets/img/feature/feature-ideas.svg');
}

.feature_support {
  background-image: url('../assets/img/feature/feature-support.svg');
}

.feature_answer {
  background-image: url('../assets/img/feature/feature-answer.svg');
}

.feature_star {
  background-image: url('../assets/img/feature/feature-star.svg');
}

.feature__title {
  padding-bottom: 9px;

  font-size: 18px;
  word-spacing: 0.01px;
}

.feature__description {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 21.56px;
  text-align: justify;
  color: #767e9e;
}

.feature__description_design,
.feature__description_layout,
.feature__description_ideas {
  padding-left: 1px;
}
