/* ---------------------------------- feedback --------------------------------- */

.feedback {
  scroll-margin-top: 50px;
}

.feedback__wrapper {
  min-height: 654px;
  padding: 0 40px;

  color: #f0d8d9;

  background-color: #f06c64;

  border-bottom: 6px solid #ea676b;
}

.feedback__title {
  font-size: 30px;
  padding-top: 60px;
  letter-spacing: -0.0035em;
  color: inherit;
}

.feedback__description {
  margin-top: 19px;
  margin-left: 1px;
  margin-bottom: 44px;

  font-size: 18px;
  font-weight: 300;
  font-family: "Lato-Light", "Arial", sans-serif;
  line-height: 30px;
  text-align: justify;
}

.two-columns-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 619px;
  margin-right: 20px;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  margin-bottom: 16px;
  padding: 3px 15px;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 21.56px;
  color: #f48c8f;

  background-color: #d6564f;

  border: 0;
  border-radius: 5px;

  overflow: hidden;
}

.form__input:focus,
.form__input:hover,
.form__input:active {
  padding: 1px 13px;

  color: white;

  outline: 0;
  border: 2px solid #767e9e;
}

.form__input:focus:invalid {
  background-color: red;
}

.form__input::-webkit-input-placeholder {
  color: #f48c8f;
}

.form__input::-moz-placeholder {
  color: #f48c8f;
}

.form__input:-ms-input-placeholder {
  color: #f48c8f;
}

.form__input::-ms-input-placeholder {
  color: #f48c8f;
}

.form__input::placeholder {
  color: #f48c8f;
}

.form__input:focus::-webkit-input-placeholder,
.form__input:hover::-webkit-input-placeholder,
.form__input:active::-webkit-input-placeholder {
  color: white;
}

.form__input:focus::-moz-placeholder,
.form__input:hover::-moz-placeholder,
.form__input:active::-moz-placeholder {
  color: white;
}

.form__input:focus:-ms-input-placeholder,
.form__input:hover:-ms-input-placeholder,
.form__input:active:-ms-input-placeholder {
  color: white;
}

.form__input:focus::-ms-input-placeholder,
.form__input:hover::-ms-input-placeholder,
.form__input:active::-ms-input-placeholder {
  color: white;
}

.form__input:focus::placeholder,
.form__input:hover::placeholder,
.form__input:active::placeholder {
  color: white;
}

.form__message {
  min-height: 202px;
  padding-top: 7px;

  resize: none;
}

.form__message:focus,
.form__message:hover,
.form__message:active {
  padding-top: 5px;
}

.form__submit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  margin-bottom: 10px;
}

.form__submit:focus,
.form__submit:hover,
.form__submit:active {
  background-color: #767e9e;
  
  cursor: pointer;
}

.feedback__contacts {
  width: calc(100% - 640px);
  padding-left: 1px;
  padding-top: 1px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 900;
  font-family: "Lato-Black", "Arial", sans-serif;
  line-height: 17.86px;
  letter-spacing: -0.0035em;
  color: inherit;
}

.contacts__description {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 20px;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 22.5px;
  letter-spacing: -0.0035em;
  text-align: justify;
}

.contacts__description::first-line {
  line-height: 20px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 22px;
  letter-spacing: -0.0035em;
}

.contacts__link_location {
  padding-top: 1px;
}

.contacts__link_phone {
  line-height: 20px;
}

.contacts__link_email {
  line-height: 23px;
}

.contacts__link_phone:focus,
.contacts__link_phone:hover,
.contacts__link_phone:active,
.contacts__link_email:focus,
.contacts__link_email:hover,
.contacts__link_email:active  {
  text-decoration: underline;

  outline-color: #767e9e;
}

.contacts__icon {
  width: 23px;
  height: 17px;
  
  background-repeat: no-repeat;
}

.contacts__icon_location {
  background-image: url("../assets/img/contacts/location.svg");
  background-size: 14px 23px;
}

.contacts__icon_phone {
  background-image: url("../assets/img/contacts/phone.svg");
  background-size: 14px 14px;
  background-position: 0 3px;
}

.contacts__icon_email {
  background-image: url("../assets/img/contacts/email.svg");
  background-size: 16px 18px;
  background-position: 0 5px;
}