.about {
  scroll-margin-top: 50px;
}

.about__wrapper {
  padding-left: 40px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;

  @include media-desktop {
    padding-right: 40px;
  }

  @include media-tablet {
    padding-right: 30px;
    padding-left: 30px;

    border-bottom: 0;
  }
}

.about__title {
  font-size: 30px;
  padding-top: 60px;
  letter-spacing: -0.0035em;
  color: #666d89;

  @include media-desktop {
    padding-top: 52px;
  }

  @include media-tablet {
    padding-top: 33px;
  }
}

.about__description {
  margin: 0;
  padding-top: 19px;
  padding-right: 5px;

  font-size: 18px;
  font-weight: 300;
  font-family: "Lato-Regular", "Arial", sans-serif;
  line-height: 30px;
  color: #767e9e;

  @include media-desktop {
    padding-top: 18px;
    padding-right: 17px;
    text-align: justify;
    letter-spacing: -0.005em;
  }

  @include media-tablet {
    padding-right: 0;

    text-align: left;
  }
}

.about__sentence {
  letter-spacing: -0.0123em;

  @include media-desktop {
    letter-spacing: -0.0035em;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;

  padding-top: 42px;

  @include media-desktop {
    padding-top: 38px;
  }

  @include media-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    padding-top: 24px;
  }
}

.card {
  padding-right: 19px;

  -webkit-box-flex: 1;

      -ms-flex: 1;

          flex: 1;

  @include media-desktop {
    padding-right: calc( (100vw - 84px - 28.5vw * 3) / 2);
  }
}

.card__avatar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  @include media-desktop {
    width: 100%;
    height: auto;
  }

  @include media-tablet {
    padding-bottom: 5px;
  }
}

.card_second {
  padding-right: 21px;
}

.card_third {
  @include media-desktop {
    padding-right: 0;
  }

  @include media-tablet {
    margin-bottom: 11px;
  }
}

.card__title {
  max-width: 300px;
  padding-top: 12px;

  font-size: 18px;
  letter-spacing: -0.01em;

  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;

  @include media-desktop {
    padding-top: 7px;
  }
}

.card__description {
  min-height: 42px;
  margin: 0;
  padding-top: 9px;

  font-size: 12px;
  font-weight: 400;
  font-family: "Lato-Regular", "Arial", sans-serif;
  text-align: justify;
  line-height: 21px;
  letter-spacing: -0.005em;
  color: #767e9e;

  @include media-desktop {
    min-height: 8.6vw;
    padding-top: 0;

    line-height: 22px;
  }
}

.card__sentence {
  letter-spacing: 0;
}

.card_second .card__title {
  padding-left: 1px;
  letter-spacing: -0.01em;
}

.card_second .card__description {
  padding-left: 1px;
  letter-spacing: -0.0098em;
}

.card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 66px;
  padding-top: 23px;

  @include media-desktop {
    margin-bottom: 68px;
    padding-top: 10px;
  }

  @include media-tablet {
    margin-bottom: 35px;
  }
}

.social__item {
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 7px;
}

.social__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 32px;
  height: 32px;

  background-color: transparent;
  background-repeat: no-repeat;

  border: 1px solid #666d89;
  border-radius: 50%;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  &:focus,
  &:hover,
  &:active {
    background-color: #5f9ea0af;
    outline: 0;

    cursor: pointer;

    @include transition;
  }
}

.social__link_facebook {
  background-image: url('../assets/img/about/facebook.svg');
  background-position: 11px 8px;
}

.social__link_google {
  background-image: url('../assets/img/about/google.svg');
  background-position: 7px 8px;
}

.social__link_twitter {
  background-image: url('../assets/img/about/twitter.svg');
  background-position: 8px 9px;
}

.social__link_linkedin {
  background-image: url('../assets/img/about/linkedin.svg');
  background-position: 8px 7px;
}

.card_third .social__item {
  padding-left: 0;
  padding-right: 8px;
}
